################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2022/.vs
/2022/bin/*
/2022/obj/*
/.vs

